
<% for(var i = 0; i < users.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= users[i].item %></td>
    <td><%= users[i].discription %></td>
    <td><%= users[i].quatity %></td>
    <td><%= users[i].status %></td>
    <td>
       <a href="/update-item?id=<%= users[i]._id %>" class="btn border-shadow update">
           <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
       </a> 
       <a class="btn border-shadow delete" data-id= <%= users[i]._id%>>
        <span class="text-gradient"><i class="fas fa-times"></i></span>
    </a> 
    
    </td>

</tr>
<% } %>